<style>
    #anonymous_content {
        width: 500px;
        height: 300px;
    }

    #anonymous_writebtn{
        border-radius: 7px;
        background-color: black;
        color: white;
    }
</style>

<div id="popupAnonymousWriteView" class="popupDetailMainView">
    <div class="popupDetailSubView">
        <p style="font-size: 20px; text-align: center;"><b>익명으로 한 마디!</b></b></p>
        <br>
        <textarea style="padding: 15px" id="anonymous_content" placeholder="내용"></textarea>
        <br>
        <div style="text-align: center; margin-top: 10px;">
        <p><button id="anonymous_writebtn">작성</button></p>
        </div>
    </div>
</div>
<script th:inline="javascript">
    //팝업 닫기 함수
    let closeAnonymousWritePopup = function () {
        $("#popupAnonymousWriteView").toggleClass('show');
        const attrShow = $("#popupAnonymousWriteView").attr('show');
        if (attrShow === undefined || attrShow === false) {
            $("body").css("overflow", "auto");
        }
        requestBoardPage($("#currentPage").html());
    };
    // 팝업 클릭 이벤트 처리
    $("#popupAnonymousWriteView").click((event) => {
        if (event.target === $("#popupAnonymousWriteView")[0]) {
            closeAnonymousWritePopup();
        }
    });

    //작성 버튼 클릭 이벤트 처리

    $("#anonymous_writebtn").click(function () {
        $.ajax({
            url: "/anonymous/write",
            type: "POST",
            data: {"acontent": $("#anonymous_content").val()},
            success: function (result) {
                if (result == true) {
                    alert("작성 완료");
                    listUpdate();
                } else {
                    alert("로그인이 필요합니다");
                }
            },
            error: function (error) {
                alert(error);
            },
            complete: function () {
                closeAnonymousWritePopup();
            }
        });
    });


</script>
